@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

:root {
    --neutral: 200;
    --wrong: 0;
    --correct: 145;
}

body {
    --hue: var(--neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
    font-family: 'Comic Neue', cursive;
    font-size: x-large;
}

body.correct {
    --hue: var(--correct);
}

body.wrong {
    --hue: var(--wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px 0;
}

.btn {
    --hue: var(--neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    outline: none;
    font-size: large;
    font-family: 'Comic Neue', cursive;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--correct);
    color: black;
}

.btn.wrong {
    --hue: var(--wrong);
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#question-container {
    padding: 10px;
}

#question {
    padding: 10px;
    text-align: center;
}


















 


