* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(36, 34, 34);
    color: #999;
    overflow: hidden;
}

.myImg {
    width: 278px;
    height: 163px;
    border-radius: 2px;
}

.statsCase {
    text-align: center;
    margin-top: 1%;
    font-size: x-large;
}

.stats {
    color: orangered;
    letter-spacing: 4px;
  }

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 550px;
    margin-top: -260px;
    margin-left: -600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 25px 25px;
}

.cardCase {
    width: 280px;
    height: 165px;
    position: relative;
    perspective: 1000px;
    border-radius: 4px;
    
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: -3px 5px 5px 0px rgba(69,59,59,0.75);
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: rgb(46, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 280px 165px;
    background-image: url(images/front.png)
}

.card .back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

