body {
    color: rgb(89, 141, 161);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: solid skyblue;
    margin: 50px 200px;
}

.heading {
    position:absolute;
    margin-top: -3%;
    left: 570px;
    background: white;
    display: inline-block;
    padding: 0 50px;
}

.content {
    margin: 20px;
}

.head1 {
    position: relative;
    margin-top: 10px;
    font-size: xx-large;
    text-align: center;
}
fieldset {
    border: 10px solid transparent; 
    font-weight: 400;
    width: inherit;
}

.head2 {
    text-align: center;
    margin-top: -20%;   
}

.left {
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    vertical-align: top;
}


.right {
    border-left: 2px solid rgb(89, 141, 161);
    display: inline-block;
    max-width: 300px;
    padding-left:50px;
}