.card {
    width: 50%;
    background: darkgray;
    padding: 5px;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 3px 1px 9px -1px #3d581a;
    height: 20%;
    padding: 15px;
}

button {
    width: 100px;
    margin: 0 10px;
    padding: 5px;
}

h5 {
    font-size: large;
    display: inline;
}